# 數據庫設定 (必須)
DATABASE_URL="postgresql://username:password@localhost:5432/database"
DIRECT_URL=""

# JWT 設定 (必須)
JWT_SECRET=your-jwt-secret

# 應用設定 (必須)
PORT=3000

# 郵件設定 (密碼重設功能必須)
EMAIL_USER=your-email@example.com
GOOGLE_REFRESH_TOKEN=your-google-refresh-token

# Google OAuth 設定 (Google 登入功能必須)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL="http://localhost:3000/api/v1/users/google/callback"
FRONT_REDIRECT_URL="http://localhost:3001/google/callback"

# Cloudinary Config
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<cloud_name>"

# OpenAI 設定 (聊天功能必須)
OPENAI_API_KEY=your-openai-api-key

# 綠界金流 設定 (必須)
ECPAY_MERCHANT_ID="3002607"
ECPAY_HASH_KEY=ECPay
ECPAY_HASH_IV=ECPay
ECPAY_URL="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" # 測試環境

# Eventa 前後端 URL (必須)
EVENTA_BACKEND_URL=url
EVENTA_FRONTEND_URL=url

# Admin 權限短解 (專案Google帳號)
ADMIN_EMAIL="email"